<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
     <% if(title!=='Masuk atau Daftar'){%>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
        <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
            <a href="#" class="w3-bar-item w3-button">One new friend request</a>
            <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
            <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
        </div>
        </div>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
        <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>
     <% }else{%>
        <form method="POST" action="/login" class="row">
            <div class="col-md-4" style="padding-top: 20px"></div>
            <div class="col-md-2" style="padding-top: 20px">
            </div>
            <div class="col-md-6">
                <div class="row" style="padding-top: 10px">
                    <div class="col-md-4" style="padding-right: 0">
                        <input name="email" type="text" placeholder="email" 
                        class="form-control" 
                        required="required">
                    </div>
                    <div class="col-md-4" style="padding-right: 0">
                        <input type="password" 
                        name="password"
                        placeholder="password" 
                        class="form-control" 
                        required="required">
                    </div>                
                    <div class="col-md-4"><button type="submit" class="btn btn-info btn-sm" >Masuk</button></div>
                </div>               
            </div>
        </form>
    <% }%>
    </div>
   </div>
   <!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  </div>